* {
  box-sizing: border-box;
}

/* body */
body {
  padding-top: 56px;
}

/* song images */
.songImage {
  min-height: 100%;
  width: 600px;
}

div {
  height: 100%;
}

/* Pattern styles */
.container {
  /* display: table; */
  width: 100%;
}

.left-half {
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
}

.left-text,
.right-text {
  color: #ffffff;
  text-align: center;
  background-color: none;
  vertical-align: middle;
}

#right-song-popularity {
  display: none;
}

/* higher lower buttons */
/* white background in buttons upon hover */
#higher-btn:hover {
  background-color: white;
}

#lower-btn:hover {
  background-color: white;
}

/* removes blue highlighting around bootstrap button */
.btn:focus {
  box-shadow: none !important;
}

.scoreboard {
  text-align: center;
  background-color: none;
  vertical-align: middle;
}