@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

* {
  box-sizing: border-box;
}

#left-half,
#right-half {
  position: relative;
}

.text {
  position: absolute;
}

#right-song-popularity {
  display: none;
}

/* higher lower buttons */
/* white background in buttons upon hover */
#higher-btn, #lower-btn {
  background: white;
  margin-bottom: 2%;
  font-size: larger;
}

#higher-btn:hover {
  background-color: green;
}

#lower-btn:hover {
  background-color: red;
}

/* removes blue highlighting around bootstrap button */
.btn:focus {
  box-shadow: none !important;
}

body {
  font-family: "Questrial", sans-serif;
  padding-top: 50px;
  background: #1b1b1b;
}

.slide {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.slide-image {
  object-fit: cover;
  height: 60vh;
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-image {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#endgame {
  display: none;
}

#logout-btn {
  display: inline-block;
  margin-left: 12px;
}

#home-page-feature-descriptions {
  color: white;
  margin-top: 5%;
}

#game-message,
.footer-copyright {
  color: white;
}

footer {
  margin-top: 6%;
}

#see-songs-btn, #play-btn {
  margin-top: 2%;
}
