@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

/* song images */
.songImage {
  min-height: 100%;
  width: 600px;
}

div {
  height: 100%;
}

/* Pattern styles */
.container {
  /* display: table; */
  width: 100%;
}

.left-half {
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
}

.left-text, .right-text {
  color: #ffffff;
  text-align: center;
  background-color: none;
  vertical-align: middle;
}

#right-song-popularity {
  display: none;
}

/* higher lower buttons */
/* white background in buttons upon hover */
#higher-btn:hover {
  background-color: white;
}

#lower-btn:hover {
  background-color: white;
}

/* removes blue highlighting around bootstrap button */
.btn:focus {
  box-shadow: none !important;
}

.scoreboard {
  text-align: center;
  background-color: none;
  vertical-align: middle;
}

body {
    font-family: 'Questrial', sans-serif;
    padding-top: 50px;
}

.slide {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.slide-image {
    object-fit: cover;
    height: 50vh;
}

.bottom-image {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.copyright {
    text-align: center;
}