<!DOCTYPE HTML>

<!--
subtleAsianCoders - Yaru Luo, Matthew Chan, Eric "Morty" Lau, ray. lee.
SoftDev1 pd1
P02 -- The End
Duende
-->

<!-- Base for other HTML files -->

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Custom CSS  -->
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">

        <!-- jQuery, Popper.js, and Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

        <title>
            {% block title %}BASE{% endblock %} :: Duende
        </title>

        {% block style %}
        <style>
            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2rem; 
                text-align: center;
            }
        </style>
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark justify-content-left fixed-top mb-5">
            <a class="navbar-brand" href="/">RYthEM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/higher_lower">Higher Lower</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/guess_the_song">Guess The Song</a>
                    </li>
                    {% if session['access_token'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="/hearted_songs">My Hearted Songs</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item navbar-right">
                        {% if session['display_name'] %}
                        <span style="color: white;">{{ session['display_name'] }}</span>
                        {% else %}
                        <a class="btn btn-outline-success nav-link text-success" href="/spotify_connect">Connect to
                            Spotify</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>


        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger text-align-center alert-dismissible fade show" role="alert">
        {% endif %}
        {% if category == "success" %}
        <div class="alert alert-success text-align-center alert-dismissible fade show" role="alert">
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}


        <div class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>


        <script src="../static/main.js"></script>

        {% block scripts %}
        {% endblock %}
        

        <footer id="footer">
            <div class="copyright mt-2">
                © subtleAsianCoders 2020
            </div>
        </footer>
    </body>
</html>