{% extends "base.html" %}

<!--
subtleAsianCoders - Yaru Luo, Matthew Chan, Eric "Morty" Lau, ray. lee.
SoftDev1 pd1
P02 -- The End
RYthEM
-->

<!-- Guess The Song Game Playing Page -->

{% block title %}
    Guess The Song Game
{% endblock %}


{% block style %}
<style>
    body {
        /* background-image: url('https://images.unsplash.com/photo-1528728935509-22fb14722a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=660&q=80&fbclid=IwAR3BSFjZm2T5ZbvusG64YoSJVZUVv6RztV-Xf7CRpDi9lSmEZmXe48LEObg'); */
        background: url('https://images.unsplash.com/photo-1528728935509-22fb14722a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=660&q=80&fbclid=IwAR3BSFjZm2T5ZbvusG64YoSJVZUVv6RztV-Xf7CRpDi9lSmEZmXe48LEObg')
                    no-repeat
                    center
                    center
                    fixed;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2rem;
        text-align: center;
        color: white;
    }
    #content {
        width: 50%;
        height: 100%;
    }

    #question-1 {
        position: absolute;

    }
</style>
{% endblock %}


{% block body %}
<div id="content" class="container mt-5 pt-5" style="color:white;">
    <div id="lyrics-card" class="card p-3 m-2" style="color:black">
        <p id="lyrics">INSERT LYRICS</p>
    </div>
    <div class="text-center">
        <div id="button-container" class="container-fluid text-center">
            <button type="button" id="choice-1" class="btn btn-lg btn-primary mb-2">OPTION 1</button><br>
            <button type="button" id="choice-2" class="btn btn-lg btn-primary mb-2">OPTION 2</button><br>
            <button type="button" id="choice-3" class="btn btn-lg btn-primary mb-2">OPTION 3</button><br>
            <button type="button" id="choice-4" class="btn btn-lg btn-primary mb-2">OPTION 4</button><br>
        </div>
        Correct Answers: <p id="score">0</p>
    </div>
</div>

<!-- uncompressed jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/guess_the_song.js') }}"></script>
<script>
    {% for song in songs %}
    var song{{song.sid}} = {
        title : "{{song.title}}",
        artist : "{{song.artist}}",
        genre : "{{song.genre}}",
        lyrics : `{{song.lyrics}}`,
        numlisten : "{{song.numlisten}}",
        choices : []
    };
    {% endfor %}

    {% for song,choices in songs.items() %}
    song{{song.sid}}.choices = [
        {% for choice in choices %}
        song{{choice.sid}},
        {% endfor %}
    ]
    {% endfor %}

    var songs = [
    {% for song in songs %}
        song{{song.sid}},
    {% endfor %}
    ];
    init(songs, 0);
</script>
{% endblock %}