{% extends "base.html" %}

<!--
subtleAsianCoders - Yaru Luo, Matthew Chan, Eric "Morty" Lau, ray. lee.
SoftDev1 pd1
P02 -- The End
Duende
-->

<!-- Guess The Song Game Playing Page -->

{% block title %}
    Guess The Song Game
{% endblock %}


{% block style %}
<style>
    body {
        /* background-image: url('https://images.unsplash.com/photo-1528728935509-22fb14722a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=660&q=80&fbclid=IwAR3BSFjZm2T5ZbvusG64YoSJVZUVv6RztV-Xf7CRpDi9lSmEZmXe48LEObg'); */
        background: url('https://images.unsplash.com/photo-1528728935509-22fb14722a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=660&q=80&fbclid=IwAR3BSFjZm2T5ZbvusG64YoSJVZUVv6RztV-Xf7CRpDi9lSmEZmXe48LEObg') 
                    no-repeat 
                    center 
                    center 
                    fixed;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2rem; 
        text-align: center;
        color: white;
    }
    #content {
        width: 50%;
        height: 100%;
    }

    #question-1 {
        position: absolute;

    }
</style>
{% endblock %}


{% block body %}
<div id="content" class="container text-center mt-5 pt-5" style="color:white;">
    <p id="lyrics">INSERT LYRICS</p>
    <a id="choice-1" href="" class="btn btn-lg btn-primary mb-2">OPTION 1</a><br>
    <a id="choice-2" href="" class="btn btn-lg btn-primary mb-2">OPTION 2</a><br>
    <a id="choice-3" href="" class="btn btn-lg btn-primary mb-2">OPTION 3</a><br>
    <a id="choice-4" href="" class="btn btn-lg btn-primary mb-2">OPTION 4</a><br>
    Correct Answers: <p id="score">0</p>
</div>

<script src="{{ url_for('static', filename='guess_the_song.js') }}"></script>
<script>
    init({{ songs }}, 0);
</script>
{% endblock %}