{% extends "base.html" %}

{% block title %}
Hearted Songs
{% endblock %}

{% block body %}
{% for track in data %}
<img src="{{ track['track']['album']['images'][1]['url'] }}">
<h3>"{{ track['track']['name'] }}"</h3>
<h3> Artists: </h3>
{% for artist in track['track']['artists'] %}
<h4>{{ artist['name'] }}</h4>
{% endfor %}
<h4>Album: {{ track['track']['album']['name'] }}</h4>
<br>
<!-- {{ track['track']['preview_url'] }} -->
<!-- {% for artist in track['artists'] %}
{{ artist['name'] }}
{% endfor %} -->

{% endfor %}
{% endblock %}