{% extends "base.html" %}
{% block body %}
<section class="container">
  <div class="left-half">
    <div class="left-text">
      <h1 id="left-song-title" class="display-4"></h1>
      <h1 id="left-song-artist" class="display-4"></h1>
      <h1 id="left-song-popularity" class="display-4"></h1>
    </div>
    <div class="scoreboard">SCORE: <p id="score"></p></div>
  </div>
  <div class="right-half">
    <div class="right-text">
      <h1 id="right-song-title" class="display-4"></h1>
      <h1 id="right-song-artist" class="display-4"></h1>
      <h1 id="right-song-popularity" class="display-4"></h1>
      <button type="button" class="btn" id="higher-btn" next-page="1">Higher</button>
      <button type="button" class="btn" id="lower-btn" next-page="1">Lower</button>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/higherlowergame.js') }}"></script>
<script>
  init({{ songs|safe }}, 0);
</script>
{% endblock %}
