{% extends "base.html" %}

{% block title %}
Higher Lower
{% endblock %}

{% block body %}
<div class="text-center" style="color: white;">
  <h1>The Higher Lower Game</h1>
  <p>
    You’ll be shown two cards with the names of two songs. You simply have
    to decide whether the second card’s number of “monthly listens” is
    higher or lower than the first card. As you progress, you will be
    shown a new card. Choose higher or lower to decide whether it is
    listened to more or less than the previous card. The objective is to
    get the most right in a row. If you get one wrong, you lose the game.
  </p>
  <br>
  <form action="/higher_lower/random" method="GET">
    <button type="submit" class="btn btn-success">Play with random songs</button>
  </form>
  <br>
  {% if session['access_token'] %}
  <form action="/higher_lower/favorite" method="GET">
    <button type="submit" class="btn btn-success">Play with my Liked songs</button>
  </form>
  {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
  $("body").css("background-image", `url("../static/img/high_low_2.jpg")`)
  $("body").css("background-size", "cover")
  $('body').css('margin-top', '12%')
</script>
{% endblock %}